# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# Conda
.conda/
*.conda

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data (important)
data/
*.csv
*.parquet
*.avro
*.txt
*.duckdb 
*.zip

# Secrets
*.key
*.pem
*.json
